
CUMple/.vs/CUMple/v16/.suo
CUMple/CUMple/bin/Debug/app.publish/CUMple.exe
CUMple/CUMple/bin/Debug/CUMple.application
CUMple/CUMple/bin/Debug/CUMple.exe
CUMple/CUMple/bin/Debug/CUMple.exe.manifest
CUMple/CUMple/bin/Debug/CUMple.pdb
CUMple/CUMple/obj/Debug/CUMple.application
CUMple/CUMple/obj/Debug/CUMple.csproj.CoreCompileInputs.cache
CUMple/CUMple/obj/Debug/CUMple.csproj.FileListAbsolute.txt
CUMple/CUMple/obj/Debug/CUMple.csproj.GenerateResource.cache
CUMple/CUMple/obj/Debug/CUMple.csprojAssemblyReference.cache
CUMple/CUMple/obj/Debug/CUMple.exe
CUMple/CUMple/obj/Debug/CUMple.exe.manifest
CUMple/CUMple/obj/Debug/CUMple.pdb
CUMple/CUMple/Principal.cs
